body {
    min-width:300px;
    font-family: 'Beau Rivage', cursive;
}
#addModal {
    position: fixed;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background-color: lightgray;
}